# Ignore node_modules
node_modules/

# Ignore build files
build/

# Ignore .env files
.env

# Ignore .DS_Store files
.DS_Store

# Ignore .vscode files
.vscode/

# Ignore log files
*.log

# Ignore coverage files
coverage/

# Ignore temporary files
*.tmp

