/* Main body */
body {
    background: linear-gradient(to bottom, #000000 50%, #2071dc 100%);
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: left;
    overflow-x: hidden;
}


/* Header */
header,
.header {
    color: black;
    font-family: Kanit;
    text-decoration: none;
    font-style: bold;
    text-align: center;
}

h1 {
    color: rgb(217, 238, 253);
    font-size: 40px;
    font-family: Tahoma;
    text-align: center;
}


/* Explanatory text and titles*/
h2 {
    color: rgb(217, 238, 253);
    font-size: 40px;
    font-family: sans-serif;
    position: relative;
    top: 20px;
    left: 30px;
}

.title {
    color: white;
    font-size: 22px;
    font-style: bold;
    font-family: sans-serif;
    position: relative;
    top: 15px;
    left: 33px;
}

p {
    color: white;
    font-size: 18px;
    font-family: Kanit;
}

.text {
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    position: relative;
    top: 15px;
    left: 33px;
    letter-spacing: 2px;
}


/* Remove line from links */
a {
    text-decoration: none;
    color: black;
}


/* The footer */
.footer {
    font-family: Kanit;
    color: black;

    border-radius: 0px;
    border: 2px solid rgb(255, 255, 255);
    border-spacing: 40px 0px;
    border-width: 10px;

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    background-color: rgb(255, 255, 255);
    background-size: 20px;
    color: black;
    text-align: left;
}

.footert {
    position: relative;
    left: 5px;
}


/* Navigation bar */
.topnav {
    background-color: #ffffff00;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    font-family: Kanit;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ffffffcd;
    color: black;
}

.topnav a.active {
    background-color: #00459ecb;
    color: white;
}


/* Spacing in lines */
.div1 {
    margin-top: 20px;
}

.div2 {
    margin-top: 200px;
}