/* Main body */
body {
    background: linear-gradient(to bottom, black 50%, #2071dc 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: left;
}



/* Navigation bar */
.topnav {
    background-color: #000000dc;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

.topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    font-family: Kanit;
    padding: 19px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ffffffcd;
    color: black;
}

.topnav a.activenav {
    background-color: #0560d8cb;
    color: white;
}



/* Header */
#hz-logo {
    float: left;
    width: 47px;
    position: relative;
    margin-top: 5px;
    margin-left: 10px;
}

nav {
    color: black;
    font-family: Kanit;
    text-decoration: none;
    font-style: bold;
    text-align: center;
    position: relative;
    left: 11px;
}

h1 {
    color: rgb(217, 238, 253);
    font-size: 40px;
    font-family: Tahoma;
    text-align: center;
}



/* Explanatory text and titles*/
article {
    color: white;
    font-family: Kanit;
    margin-top: 30px;
}

h2 {
    color: rgb(217, 238, 253);
    font-size: 40px;
    font-family: sans-serif;
}

.title {
    color: white;
    font-size: 22px;
    font-style: bold;
    font-family: sans-serif;

}

p {
    color: white;
    font-size: 18px;
    font-family: Kanit;
}

.text {
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    letter-spacing: 1px;
}

.box {
    display: block;
    width: 100%;
    background-color: #ffffff14;
    border-radius: 10px;
    border: solid 1px;
    padding-left: 20px;
    padding-top: 20px;
    max-width: 675px;
}



/* Table design */
.table_component {
    overflow: auto;
    width: 100%;
}

.table_component table {
    border: 1px solid #ffffff;
    height: 100%;
    width: 1000px;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 1px;
    text-align: left;
}

.table_component caption {
    caption-side: top;
    text-align: left;
}

.table_component th {
    /*header*/
    border: 1px solid #ffffff;
    background-color: rgba(94, 188, 255, 0.444);
    color: #ffffff;
    padding: 5px;
}

.table_component td {
    /*content*/
    border: 1px solid #ffffff;
    background-color: #ffffff14;
    color: #ffffff;
    padding: 5px;
}



/* Progress bar */
progress {
    display: block;
    position: relative;
    appearance: none;
    width: 1000px;
    height: 15px;
    border: 2px solid white;
    border-radius: 20px;
}

progress::-webkit-progress-bar {
    background-color: #ffffff14;
    border: 0;
    height: 12px;
    border-radius: 20px;
}

progress::-webkit-progress-value {
    background-color: rgba(94, 188, 255, 0.623);
    border: 0;
    height: 12px;
    border-radius: 20px;
}



/* Remove line from links */
a {
    text-decoration: none;
    color: black;
}



/* The footer */
.footer {
    font-family: Kanit;
    color: black;

    border-radius: 0px;
    border: 2px solid rgb(255, 255, 255);
    border-spacing: 40px 0px;
    border-width: 10px;

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    background-color: rgb(255, 255, 255);
    background-size: 20px;
    color: black;
    text-align: left;
}



/* Bottom navigation bar */
.bottomnav {
    background-color: white;
    overflow: hidden;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

.bottomnav a {
    float: left;
    color: #000000;
    text-align: center;
    font-family: Kanit;
    padding: 8px 14px;
    text-decoration: none;
    font-size: 13px;
    letter-spacing: 0.8px;
}

.bottomav a:hover {
    background-color: #ffffffcd;
    color: black;
}



/* Dropdown menu */
.accordion {
    background-color: #ffffffcd;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 17px;
    font-family: Kanit;
    transition: 0.4s;
}

.activenav,
.accordion:hover {
    background-color: rgba(217, 238, 253, 0.822);
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after .activenav {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: rgba(255, 255, 255, 0);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.summary {
    margin-right: 100px;
}




/* Spacing in lines */
.divmain {
    margin-top: 100px;
    margin-left: 74px;
}

.divspace {
    margin-top: 60px;
}

.divfaq {
    margin-top: 35px;
}

.div1 {
    margin-top: 20px;
}

.div2 {
    margin-top: 15%;
    margin-right: 19px;
}




/* Highlight coloring */
::selection {
    background: rgba(255, 255, 255, 0.379);
    /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: rgba(255, 255, 255, 0.379);
    /* Gecko Browsers */
}