/* Define a transition duration during page visits */
html.is-changing .transition-fade {
    transition: opacity 0.2s;
    opacity: 1;
}

/* Define the styles for the unloaded pages */
html.is-animating .transition-fade {

    opacity: 0;
}



html.is-leaving .transition-fade {
    transition: opacity 0.2s;
    opacity: 0;
}



/* Define a transition duration during page visits */
html.is-changing .transition-fade-index {
    transition: opacity 3s;
    opacity: 1;
}

/* Define the styles for the unloaded pages */
html.is-animating .transition-fade-index {
    transition: opacity 3s;
    opacity: 0;
}



html.is-leaving .transition-fade-index {
    transition: opacity 0.2s;
    opacity: 0;
}