/* Main body */
body {
    background: black;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: left;
    overflow-x: hidden;
    overflow-y: hidden;
}


/* Navigation bar */
.topnav {
    background-color: #ffffff00;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 19px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ffffff00;
    color: rgba(159, 0, 0, 0.562);
}

.topnav a.active {
    background-color: #0560d8cb;
    color: white;
}


/* Header */
#hz-logo {
    float: left;
    width: 47px;
    position: relative;
    margin-top: 7px;
    margin-left: 10px;
}

nav {
    color: black;
    font-family: monospace;
    text-decoration: none;
    font-style: bold;
    text-align: center;
    position: relative;
    left: 11px;
}

h1 {
    color: rgb(63, 0, 0);
    font-size: 60px;
    font-family: monospace;
    text-align: center;
}


/* Explanatory text and titles*/
article {
    position: relative;
    top: 30px;
    left: 3%;
}

h2 {
    color: rgb(55, 0, 0);
    font-size: 30px;
    font-family: monospace;
    text-align: center;
    position: relative;
    bottom: 50px;
}

.title {
    color: white;
    font-size: 22px;
    font-style: bold;
    font-family: sans-serif;

}

p {
    color: rgb(37, 0, 0);
    font-size: 40px;
    font-family: Kanit;
}

.text {
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    letter-spacing: 1px;
}


.texth2 {
    color: black;
    font-size: 30px;
    font-family: monospace;
    text-align: center;
    margin-inline-start: 31%;
    margin-inline-end: 31%;
}

.texth2:hover {
    background-color: #ffffff00;
    color: rgb(55, 0, 0);
}



/* Remove line from links */
a {
    text-decoration: none;
    color: black;
}



.image-bg {
    background: linear-gradient(to top, #00000073 20%, #000000a4 21%, #000000a4 99%, black 100%), url('verwirrung/_/cresent_crimson.png');
    background-color: #000000;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}



/* The footer */
.footer {
    font-family: Kanit;
    color: black;

    border-radius: 0px;
    border: 2px solid rgb(255, 255, 255);
    border-spacing: 40px 0px;
    border-width: 10px;

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    background-color: rgb(255, 255, 255);
    background-size: 20px;
    color: black;
    text-align: left;
}


/* Bottom navigation bar */
.bottomnav {
    background-color: white;
    overflow: hidden;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

.bottomnav a {
    float: left;
    color: #000000;
    text-align: center;
    font-family: Kanit;
    padding: 8px 14px;
    text-decoration: none;
    font-size: 13px;
}

.bottomav a:hover {
    background-color: #ffffffcd;
    color: black;
}


/* Spacing in lines */
.divmain {
    margin-top: 100px;
}

.divspace {
    margin-top: 60px;
}

.div1 {
    margin-top: 20px;
}

.div2 {
    margin-top: 200px;
}


/* Highlight coloring */
::selection {
    background: rgba(255, 255, 255, 0);
    /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: rgba(255, 255, 255, 0);
    /* Gecko Browsers */
}